/********** @VARIABLES *********/

$brand: #cb2026;
$ultra-light: #fafafa;
$light: #f1f1f1;
$dark: #222222;
$error: #ff4a4a;
$brown: #3a1e1a;
$yellow: #ffcc00;

$courses: #E9C532;
$research: #0E76BB;
$interviews: #268080;
$lectures: #00A0D2;

$nav-height: 50px;
$mobile-margins: 15px;

$transitions: .25s;